:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.navbar {
  z-index: 1001;
  margin: 0;
  padding: 0;
  background: rgb(11, 58, 89);
  background: rgba(11, 58, 89, .3);
}

.sidebar, .sidebar-over {
  background: #1F2437;
  background: rgb(11, 58, 89);
}

.sidebar-over {
  position: absolute;
  top: 0px;
  padding-top: 90px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.footer {
  color: white;
  background: rgb(11, 58, 89);
  background: rgba(11, 58, 89, .5);
}

.isotype {
  background-color: #FFFFFF;
  -webkit-mask: url(../assets/img/gualotuna-logo.svg) no-repeat center;
  mask: url(../assets/img/gualotuna-logo.svg) no-repeat center;
  height: 60px;
}

.logo {
  text-decoration: none;
}

.logotype {
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-left: 15px;
  font-weight: bolder;
  font-size: 19px;
}

.logotype .name {
  cursor: pointer;
  color: #CCCCCC;
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 19px;
}

.avatar {
  margin: 20px;
  width: 150px !important;
  height: 150px;
  background: url("https://www.gravatar.com/avatar/e15f38c87ccf3ddfb487a1abd6ec1985?s=150") no-repeat;
  border-radius: 50%;
}

