:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.navbar {
  z-index: 1001;
  margin: 0;
  padding: 0;
}

.sidebar, .sidebar-over {
  background: #CCC;
}

.sidebar-over {
  position: absolute;
  top: 0px;
  padding-top: 90px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.isotype {
  background-color: #FFFFFF;
  -webkit-mask: url(../assets/img/gualotuna-logo.svg) no-repeat center;
  mask: url(../assets/img/gualotuna-logo.svg) no-repeat center;
  height: 60px;
}

.logo {
  text-decoration: none;
}

.logotype {
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin-left: 5px;
  font-weight: bolder;
  font-size: 19px;
}

.logotype .name {
  cursor: pointer;
  color: #CCCCCC;
  font-family: 'Exo', sans-serif;
  letter-spacing: 1px;
  margin-left: 5px;
  font-weight: lighter;
  font-size: 19px;
}
