.header-container {
    padding-top: 10px;
}


.logo {
    display: table-cell;
    vertical-align: middle;
    height: 80px !important;
    width: 80px !important;
    background: url(/assets/gualotuna-logo.svg) no-repeat;
    background-size: contain;
}

.main-header {
    margin-bottom: 0 !important;
}

.main-header--mobile {
    min-height: 66px;
}

.main-header--title {
    font-size: 3em !important;
    line-height: 40px;
}
