.header-container {
    padding-bottom: 0px;
}


.menu-container {
    padding-bottom: 30px;
}

.main-header {
    margin-bottom: 20px !important;
}

.main-header--mobile {
    min-height: 66px;
}

.main-header__title {
    font-size: 3em !important;
    line-height: 40px;
}

.main-header__subtitle {
    font-size: 1.1em !important;
    line-height: 40px;
}
