.cv-logo {
    display: table-cell;
    vertical-align: middle;
    height: 80px !important;
    width: 80px !important;
    background: url(/assets/gualotuna-logo.svg) no-repeat;
    background-size: contain;
}

.cv-main-header {
    margin-bottom: 20px !important;
}

.cv-main-header__title {
    font-size: 3em !important;
    line-height: 40px;
}

.cv-main-header__subtitle {
    font-size: 1.1em !important;
    line-height: 40px;
}

.cv-menu-container {
    padding-bottom: 30px;
}

/* Semantic UI - custom */

.table-key {
    width: 120px !important;
}
.cell-country {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
    display: inline-flex !important;
    vertical-align: middle !important;
}

.cell-country i {
    line-height: normal !important;
    margin: 4px 5px 0 0 !important;
}

.nda {
    font-size: 0.8em !important;
    font-style: italic !important;
}

@media print {
    @page {
        size: 210mm 297mm;
        /* Chrome sets own margins, we change these printer settings */
        margin: 15mm 16mm 18mm 16mm;
    }

    html, body {
        margin: 0;
        padding: 0;
        font-size: 10px !important;
    }

    .bulleted.list > .item, p, body {
        line-height: 1.45em !important;
    }

    .hidden-element {
        display: table-row !important;
    }

    .layout-content {
        margin: 0;
        padding: 0;
    }

    .no-print, .no-print * {
        display: none !important;
    }

    .table-key {
        width: 100px !important;
    }
}
