@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-root {
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(right, #243B55, #141E30);
  background: linear-gradient(to left, #243B55, #141E30);
}

.scrollable {
  overflow-y: scroll;
}
